body {
  background-image: url(img/image.png);
  background-size: cover; /* Rasmni butun sahifani qoplash uchun */
  background-position: center; /* Rasmni markazda joylash */
  background-repeat: no-repeat; /* Rasmni takrorlashni o'chirish */
}

.completed {
  opacity: 0.5;
  text-decoration: line-through;
}
button {
  padding: 5px 8px;
  background-color: chocolate;
  color: white;
  border: 1px solid black;
  border-radius: 5px;
  margin-left: 5px;
  cursor: pointer;
}
button:hover {
  box-shadow: -1px 3px 4px 0px rgba(0, 0, 0, 0.65);
}
ul {
  margin: 15px 200px;
  color: aliceblue;
  list-style: none;
}
li {
  text-decoration: none;
}
li h4 {
  margin-bottom: 5px;
}
.deleteBtn {
  background-color: rgb(5, 111, 69);
}
label span,
input {
  display: block;
}

form {
  margin-bottom: 15px;
  margin-left: 215px;
}
form button {
  margin-top: 10px;
  margin-left: 30px;
  cursor: pointer;
}

